h2{
  color:brown;
}
.search-bar {
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
}

.search-bar .mat-form-field-outline {
  border-radius: 50px;
}

.search-bar .mat-form-field-infix {
  border-radius: 50px;
}
.clear{
  margin-top: -20px;
}
